<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div >
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://nea.org" target="_top"><img src="nea-logo.gif" alt="ScriptBees Logo" height="50" width="200"></a>
    </p>
    <p>
        <a href="http://scriptbees.com" target="_top"><img src="sb-logo.svg" alt="ScriptBees Logo" height="100" width="200"></a>
    </p>
    
</div>